---
---

{% include head.html %}

{% include header.html %}

{% for post in site.posts %}
  {% if post.title == "Intro" %}
    {% include writing.html %}
  {% endif %}
{% endfor %}

<section>
  <div id="map-container" class="sticky">
    <p>0</p>
    <div id="map"></div>
  </div>

  <section id="step-container">
    <div class="step allbuildings">
      <div class="step-content">
        <h3>Here are all the large buildings in NYC</h3>
      </div>
    </div>

    <div class="step exempt-all">
      <div class="step-content">
        <h3>
          What buildings are <span class="exempt-all">exempt</span>?
        </h3>
      </div>
    </div>

    <div class="step exempt-res">
      <div class="step-content">
        <h3>
          Of the exempt buildings, where are the <span class="exempt-res">residential</span> ones?
        </h3>
      </div>
    </div>

    <div class="step notexempt-res">
      <div class="step-content">
        <h3>Where are the <span class="notexempt-res">residential</span> buildings that are <span class="notexempt-res">not exempt</span>?</h3>
      </div>
    </div>

    <div class="step exempt-res before-demographics">
      <div class="step-content">
        <h3>Back to the <span class="exempt-res">exempt residential</span> buildings</h3>
      </div>
    </div>

    <div class="step exempt-res demographics">
      <div class="step-content">
        <h3>Demographics</h3>
      </div>
    </div>
  </article>

  <nav>
    <h4>Change demographics</h4>
  </nav>
</section>

{% for post in site.posts %}
  {% if post.title == "Conclusion" %}
    {% include writing.html %}
  {% endif %}
{% endfor %}

<script src="script.js"></script>

{% include foot.html %}