---
---

{% include head.html %}

{% include header.html %}

{% for post in site.posts %}
  {% if post.title == "Intro" %}
    {% include writing.html %}
  {% endif %}
{% endfor %}

<section>
  <div id="map-container" class="sticky">
    <div id="map">
      <div id="legend">
        <div class="row">
          <div class="circle" style="background: #fef0d9"></div>
          <span class="label"><22%</span>
        </div>

        <div class="row">
          <div class="circle" style="background: #fdcc8a"></div>
          <span class="label">22%-41%</span>
        </div>

        <div class="row">
          <div class="circle" style="background: #fc8d5a"></div>
          <span class="label">41-59%</span>
        </div>

        <div class="row">
          <div class="circle" style="background: #e34a33"></div>
          <span class="label">59-75%</span>
        </div>

        <div class="row">
          <div class="circle" style="background: #b30000"></div>
          <span class="label">75%<</span>
        </div>
      </div>
    </div>
  </div>

  <section id="step-container">
    <div class="step allbuildings">
      <div class="step-content">
        <h3>Here are all the large buildings in NYC.</h3>
        <p>Though buildings over 25,000 square feet make up just a small percentage of total buildings, the reality is they are everywhere in the city.</p>
      </div>
    </div>

    <div class="step exempt-all">
      <div class="step-content">
        <h3>
          What buildings are <span class="exempt-all">exempt</span>?
        </h3>
        <p>Several categories of buildings are exempt from Local Law 97, including (but not limited to) hospitals, places of worship, public housing, and rent-regulated accommodations.</p>
      </div>
    </div>

    <div class="step exempt-res">
      <div class="step-content">
        <h3>
          Of the exempt buildings, where are the <span class="exempt-res">residential</span> ones?
        </h3>
      </div>
    </div>

    <div class="step exempt-res demographics">
      <div class="step-content">
        <h3>Explore the demographics of <span class="exempt-res">exempt residential buildings</span></h3>
      </div>

      <nav id="map-menu">
        <h4>View neighborhoods by</h4>
        <div class="menu-row">
          <input type="radio" name="demographics-menu" id="pctwhite" checked>
          <label for="pctwhite">% identifying as White</label>
        </div>
        
        <div class="menu-row">
          <input type="radio" name="demographics-menu" id="education">
          <label for="education">% with post-secondary education</label>
        </div>

        <div class="menu-row">
          <input type="radio" name="demographics-menu" id="totalrentburdened">
          <label for="totalrentburdened">% rent-burdened</label>
        </div>

        <div class="menu-row">
          <input type="radio" name="demographics-menu" id="householdmedianincome">
          <label for="householdmedianincome">Household median income</label>
        </div>

        <div class="menu-row">
          <input type="radio" name="demographics-menu" id="clear">
          <label for="clear">Clear</label>
        </div>
      </nav>
    </div>
  </article>
</section>

{% for post in site.posts %}
  {% if post.title == "Conclusion" %}
    {% include writing.html %}
  {% endif %}
{% endfor %}

<script src="script.js"></script>

{% include foot.html %}