<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="{{site.description}}" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>{{site.title}}</title>

    <!--Social Sharing Meta Tags-->
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:image" content="{{site.og_image}}" />
    <meta property="og:url" content="{{site.url}}" />

    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:image" content="{{site.twitter_image}}" />
    <meta name="twitter:card" content="summary_large_image" />

    <!--Custom Styles-->
    <link rel="stylesheet" href="styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!--Mapbox-->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <!--Scrollytelling-->
    <script src="https://unpkg.com/intersection-observer"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="https://www.unpkg.com/stickyfilljs@2.1.0/dist/stickyfill.min.js"></script>

    <!--D3-->
  <script src="https://unpkg.com/d3@5.9.1/dist/d3.min.js"></script>
  </head>
  <body>